<form method="post" action="{{ path('app_profesores_delete', {'id': profesores.id}) }}" onsubmit="return confirm('¿Estás seguro de eliminarlo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profesores.id) }}">
    <button class="btn">Eliminar</button>
</form>
