{% extends 'base.html.twig' %}

{% block title %}Edit Profesores{% endblock %}

{% block body %}
    <h1>Edit Profesores</h1>

    {{ include('profesores/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profesores_index') }}">Volver a la Lista</a>

    {{ include('profesores/_delete_form.html.twig') }}
{% endblock %}
