{% extends 'base.html.twig' %}

{% block title %}Nuevo Profesor{% endblock %}

{% block body %}
<div class = "container p-4">
    <h1>Ingresar un Profesor</h1>

    {{ include('profesores/_form.html.twig') }}

    <a href="{{ path('app_profesores_index') }}">Volver a la Lista</a>
</div>
{% endblock %}
