{% extends 'base.html.twig' %}

{% block title %}Nuevo Alumno{% endblock %}

{% block body %}
    <h1>Create new Alumnos</h1>

    {{ include('alumnos/_form.html.twig') }}

    <a href="{{ path('app_alumnos_index') }}">Volver a la lista</a>
{% endblock %}
